nav {
  background-color: blue;
}
span {
  width:100px;
  height:100px;
}
h2 {
  font-size:1.5em;
}
.item{
  float:left;
  width:500px;
  height:300px;
  overflow:auto;
  margin-top: 20px;
  margin-left:10px;
  margin-right:10px;
  border:1px;
  background-color:yellow;
}
button {
 width:100px;
 height:100px;
}

.container{
  height:100%;
  width:100%;
  margin-top:100px;
}
