nav {
  background-color: blue;
}
span {
  width:100px;
  height:100px;
}
h2 {
  font-size:1.5em;
}
.item{
  margin: 100px;
  border:1px;
  background-color:yellow;
}

}
.container{
  height:100%;
  width:100%;
  margin-top:100px;
}
