nav {
  background-color: blue;
}
span {
  width:100px;
  height:100px;
}
.item{
  margin: 100px;
  border:1px;
  background-color:yellow;
}
body{
  background-color: aqua;
}
.container{
  height:100%;
  width:100%;
  margin-top:100px;
}
